header, footer {
    position: sticky;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: var(--yellow);
    z-index: 9999;
}

header .container, footer .container {
    display: flex;
    justify-content: space-between;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}



