@import 'components/layout.css';
@import "./styles/main.css";

.container {
  width: 80%;
  margin: 0 auto;
  color: var(--midnight);
}

.card {
  width: 80%;
  margin: 20px auto;
}

.cardImages {
  border: 1px solid var(--yellow);
}
.single-img {
  margin: 20px auto;
  border: 1px solid navy;
  border-radius: 10px;
  padding: 10px;
}

img {
  width: 100%;
  max-height: 300px;
}
